@import "./colors.scss";
@import "./fonts.scss";

.dashboard{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    font-family: $body;
    color: $dark-gray;
}

.welcome{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    font-family: $title;
}

.transaction-button {
    width: 145px;
    height: 43px;
    font-family: $links;
    font-size: 15px;
    background: $dark-green;
    color: white;
    border: 1px solid transparent;
    padding: 8px 10px;
    text-align: center;
    margin-right: 20px;
    transition: all 0.4s ease;
    border-radius: 5px;
}

.transaction-button:hover {
    cursor: pointer;
    background-color: $light-green;
    border: 1px solid $dark-green;
    color: $dark-green;
    transition: all 0.4s ease
}

.add-transaction{
    display: flex;
    justify-content: space-around;
}

.transaction-title{
    font-size: 20px;
    margin-left: 30px;
    margin-bottom: 25px;
    margin-top: 25px;
    font-family: $title;
    color: $dark-green;
    border: 1px solid transparent;
    width: 180px;
    // text-align: center;
    // border-radius: 5px;
    // background-color: $light-green;
}

.transactions-table{
    // width: 80%;
    justify-content: center;
    align-items: center;
    border-spacing: 5px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 15px;
}

th {
  text-align: left;
  font-family: $title;
}

input[type=text], input[type=number], input[type=date], select {
  color: $dark-gray
}



