@import "./colors.scss";
@import "./fonts.scss";

.edit-budget {
    margin-top: 80px;
    height: 850px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.edit-budget-title {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 3%;
    padding-bottom: 3%;
}

.edit-budget-income label{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5%;
}

.edit-budget-income {
    width: 100%;
    display: flex;
}

.edit-budget-income-wrapper {
    height: 100px;
}

.edit-budget-income-wrapper input[type=text] {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: none;
    border: 1px solid $dark-gray;
    outline: none;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.edit-budget-income-buttons {
    display: flex;
    justify-content: space-evenly;
    width: 25%;
    margin-left: 40%;
}

.edit-budget-income-buttons input[type=submit],
.edit-budget-income-buttons button {
    font-family: $links;
    font-size: 12px;
    height: 30px;
    background: $dark-green;
    color: white;
    border: 1px solid transparent;
    padding: 8px 10px; 
    text-align: center;
    vertical-align: center;
    transition: all 0.4s ease;
    border-radius: 5px;
    text-decoration: none;
}

.edit-budget-income-buttons input[type=submit]:hover,
.edit-budget-income-buttons button:hover {
    cursor: pointer;
    background-color: $light-green;
    border: 1px solid $dark-green;
    color: $dark-green;
    transition: all 0.4s ease
}
.edit-budget-income-buttons input[type=submit]:focus,
.edit-budget-income-buttons button:focus {
    outline: none;
}

.edit-budget-sliders-wrapper {
    display: flex;
    flex-direction: column;
    height: 700px;
}

.edit-budget-sliders-title {
    padding-left: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
}

.income-slider {
    padding-left: 5%;
    padding-right: 10%;
    padding-bottom: 4%;
    width: 20%;
}

.edit-budget-sliders {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 50%;
}
.edit-budget-slider {
    padding-right: 10%;
    width: 20%;
}

.slider-display {
    display: flex;
}

.display-value {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: none;
    border: 1px solid $dark-gray;
    outline: none;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    height: 30%;
    padding-top: 7%;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  background: $dark-gray;
  border-radius: 10px;
  border: none;
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 2px 2px 2px $dark-gray;
  height: 20px;
  width: 20px;
  border-radius: 23px;
  background: $dark-green;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}

input[type=range]:active::-webkit-slider-runnable-track {
  background: $light-green;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 20%;
  background-color: $dark-green;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 60%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width:  5px;
  border-style: solid;
  border-color: transparent  transparent $dark-green transparent;
}

.tooltip:active .tooltiptext {
  visibility: visible;
  opacity: 1;
}