@import "./colors.scss";
@import "./fonts.scss";

.edit-budget {
    margin-top: 80px;
    background-color: white;
    display: flex;
    flex-direction: column;
    font-family: $body;
    color: $dark-gray;
    padding-bottom: 50px;
}


.edit-budget-form {
    display: flex;
}

.edit-budget-title {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 3%;
    padding-bottom: 3%;
}

.edit-budget-title > h1 {
    font-size: 30px;
    margin-bottom: 40px;
}

.budget-left {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 50vw;
    // box-shadow: $box-shadow;
}


.sticky-wrapper {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 110px;
}

.doughnut-text {
    font-size: 24px;
    text-align: center;
    margin: 0 auto;
}

.edit-budget-income {
    display: flex;
    // justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-top: 10%;
    padding-left: 15px;
}

.update-income-input {
  width: 50%;
  height: 34px;
  display: flex;
  justify-content: center; 
  font-family: $body;
  color: $dark-gray;
  border: none;
  border-radius: 5px;
  border: 1px solid $dark-gray;
}


.edit-budget-income-wrapper input[type=text] {
    padding: 10px 0px;
    border-radius: 5px;
    border: none;
    border: 1px solid $dark-gray;
    outline: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
}

.edit-budget-income-buttons-wrapper {
    // border: solid 2px red;
    display: flex;
    height: 20%;
    padding-top: 5%;
    // justify-content: space-around;
}

.apply-changes-btn {
    margin-right: 20px;
}

.discard-changes-btn {
    margin-right: 80px;
}

.edit-budget-income-buttons,
.edit-budget-income-buttons-disable {
    display: flex;
    justify-content: space-evenly;
    width: 25%;
    margin-left: 37%;
    padding-right: 20px;
    margin-bottom: 10%;
}

.edit-budget-income-buttons-disable input,
.edit-budget-income-buttons-disable button {
    font-family: $links;
    background-color: $light-green;
    text-align: center;
    font-family: $links;
    font-size: 14px;
    height: 38px;
    color: white;
    border: 1px solid transparent;
    width: 100%;
    padding: 8px 10px; 
    vertical-align: center;
    transition: all 0.4s ease;
    border-radius: 5px;
    text-decoration: none;
    margin-left: 10px;
}

.edit-budget-income-buttons-disable input[type=submit]:focus {
    outline: none;
}

.edit-budget-income button {
    font-family: $links;
    font-size: 14px;
    height: 38px;
    background: $dark-green;
    color: white;
    border: 1px solid transparent;
    // width: 100%;
    // padding: 8px 0px; 
    text-align: center;
    vertical-align: center;
    transition: all 0.4s ease;
    border-radius: 5px;
    text-decoration: none;
    margin-left: 10px;
}

.edit-budget-income-buttons input[type=submit],
.edit-budget-income-buttons button {
    font-family: $links;
    font-size: 14px;
    height: 38px;
    background: $dark-green;
    color: white;
    border: 1px solid transparent;
    width: 100%;
    padding: 8px 10px; 
    text-align: center;
    vertical-align: center;
    transition: all 0.4s ease;
    border-radius: 5px;
    text-decoration: none;
    margin-left: 10px;
}

.edit-budget-income-buttons input[type=submit]:hover,
.edit-budget-income-buttons button:hover,
.edit-budget-income button:hover {
    cursor: pointer;
    background-color: $light-green;
    border: 1px solid $dark-green;
    color: $dark-green;
    transition: all 0.4s ease
}
.edit-budget-income-buttons input[type=submit]:focus,
.edit-budget-income-buttons button:focus,
.edit-budget-income button:focus {
    outline: none;
}

.income-wrapper {
    display: flex;
    width: 80%;
    padding-bottom: 5%;
    margin: 0 auto;
    align-items: center;
}


.income-value-wrapper {
    display: flex;
    flex-direction: column;
}

.edit-budget-sliders {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 50%;
    width: 50vw;
    // border: 1px solid black;
    margin-left: 3%;
}

.edit-budget-slider {
    margin: 0 auto;
    padding-left: 3%;
}

.input-wrapper {
    position: absolute;
    margin-left: 16%;
}

.income-value-text-wrapper {
    display: flex;
    flex-direction: column;
}

.income-value-text-wrapper-left {
    display: flex;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
}

.income-value-text-left {
    font-size: 24px;
    margin-left: 5%;
    margin-right: 5%;

}

.income-value-wrapper-left {
    font-size: 50px;
    color: $dark-green;
}

.income-value-text {
    display: flex;
    font-size: 20px;
    width: 100%;
    padding-right: 5%;
}

.slider-display {
    display: flex;
    justify-content: center;
}

.income-value {
    padding-top: 10px;
    font-size: 50px;
    color: $dark-green;
}

.display-value {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    height: 30%;
    padding-top: 7%;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  background: $dark-gray;
  border-radius: 5px;
  border: none;
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 2px 2px 2px $dark-gray;
  height: 20px;
  width: 20px;
  border-radius: 23px;
  background: $dark-green;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}

input[type=range]:active::-webkit-slider-runnable-track {
  background: $light-green;
}

.tooltip {
  position: relative;
  display: inline-block;
  padding-bottom: 40px;
  width: 75%;
}


.tooltip .tooltiptext {
  visibility: hidden;
  width: 20%;
  background-color: $dark-green;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 60%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width:  5px;
  border-style: solid;
  border-color: transparent  transparent $dark-green transparent;
}

.tooltip:active .tooltiptext {
  visibility: visible;
  opacity: 1;
}