@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&display=swap');
$title: 'Nunito Sans', sans-serif;
$body: 'Nunito', sans-serif;
$links: 'Montserrat', sans-serif;