@import url(https://fonts.googleapis.com/css2?family=Montserrat&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Nunito&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap);

$logo: 'Poppins', sans-serif;
$title: 'Nunito Sans', sans-serif;
$body: 'Nunito', sans-serif;
$links: 'Montserrat', sans-serif;