.session-background {
    // background-image: url('../../../images/money-tree.jpg');
    background-image: url('https://blog.izi-by-edf.fr/2019/10/iStock-623514254-min.jpg');
    height: 825px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-end;

}

.login-wrapper {
    // border: 2px red solid;
    width: 40%;
    margin-top: 6%;
    margin-bottom: 15%;
    margin-right: 18%;
    // height: 20%;
    // display: grid;
    // justify-items: flex-end;
    // align-items: center;
    // margin-left: 200px;
} 

.input-text-wrapper {
    display: flex;
    flex-direction: column;

    align-items: center;
}

.input-text {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    outline: none;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login {
    // flex: 1;
    // margin-right: 570px;
    // margin-top: 300px;
   
}

.session-text {
    // font-family: "Proxima Nova", Arial, sans-serif;
    font-family: Times, "Times New Roman", serif;
    font-weight: 800;
    font-size: 24px;
    color: #4C7A4F;
}

.session-text > p {
    display: flex;
    justify-content: center;
    padding-top: 20%;
    padding-bottom: 5%;
    font-style: italic;
    font-weight: 400;
}

.session-button-wrapper {
    display: flex;
    justify-content: center;
}

.session-button {
    background-color: #4C7A4F;
    color: #FFF9C2;
    font-size: 14px;
    // line-height: 20pt;
    padding: 10px 30px;
    border: 2px solid #5F5F5F;
    font-weight: 500;
    margin-top: 20px;
    border-radius: 8px;
    // margin: auto;
    // margin-left: 20px;
}

.demo-user-text {
    font-weight: 200;
    font-size: 14px;
    color: black;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.demo-user-button {
    color: #4C7A4F;
    padding-left: 4px;
    font-weight: 800;
}

.popup-errors {
    color: red;
    font-family: Proxima Nova, Arial, sans-serif;
    text-align: left;
    font-size: 12px;
    // padding: 2px;
    padding-left: 10px;
    border: 0px;
}