@import "./reset.scss";
@import "./colors.scss";
@import "./fonts.scss";

.main-page {
    background-color: white;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
}

.main-first-section {
    display: flex;
    // margin-bottom: 200px;
    // margin-top: 30px;

    img {
        object-fit: cover;
        opacity: 0.8;
        height: 500px;
        width: 50%;
    }
}

.main-first-left {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    margin-left: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 50%;


    p {
        font-family: $body;
        color: $dark-gray;
        font-size: 30px;
        margin-bottom: 40px;
    }
}

.signup-button {
    width: 100px;
    height: 20px;
    font-family: $links;
    font-size: 15px;
    background: $dark-green;
    color: white;
    border: 1px solid transparent;
    padding: 8px 10px;
    text-align: center;
    margin-right: 20px;
    transition: all 0.4s ease;
    border-radius: 5px;
}

.signup-button:hover {
    cursor: pointer;
    background-color: $light-green;
    border: 1px solid $dark-green;
    color: $dark-green;
    transition: all 0.4s ease
}

.main-second-section {
    display: flex;

    img {
        object-fit: cover;
        opacity: 0.8;
        height: 500px;
        width: 50%;
    }
}

.main-second-right {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    margin-left: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 50%;


    h1 {
        font-family: $body;
        color: $dark-gray;
        font-size: 30px;
        margin-bottom: 40px;
    }
}

.main-about {
    font-family: $body;
    font-size: 24px;
    text-align: center;
    color: $dark-gray;
    padding: 80px;
    width: 50%;
    margin: 0 auto;
}