@import "./colors.scss";
@import "./fonts.scss";

.transactions-wrapper {
  margin: 50px 6vw 100px 6vw;
}

.transactions {
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: $box-shadow;
}

.transaction-header {
  text-align: center;
  color: $dark-gray;
  font-size: 26px;
  padding-top: 10px;
  padding-bottom: 10px;
  
}

.transaction-button {
    width: 145px;
    height: 43px;
    font-family: $links;
    font-size: 15px;
    background: $dark-green;
    color: white;
    border: 1px solid transparent;
    padding: 8px 10px;
    text-align: center;
    transition: all 0.4s ease;
    border-radius: 5px;
}

.transaction-button:hover {
    cursor: pointer;
    background-color: $light-green;
    border: 1px solid $dark-green;
    color: $dark-green;
    transition: all 0.4s ease
}

.add-transaction{
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.transaction-input1, .transaction-input2, .transaction-input3, .transaction-input4{
  font-family: $body;
  color: $dark-gray;
  border: none;
  border-radius: 5px;
  border: 1px solid $dark-gray;
}

.transaction-input1::placeholder {
  font-family: $body;
  color: $dark-gray;
}

.transaction-input2::placeholder {
  font-family: $body;
  color: $dark-gray;
}

.transaction-input3::placeholder {
  font-family: $body;
  color: $dark-gray;
}

.transaction-input4::placeholder {
  font-family: $body;
  color: $dark-gray;
}

.transaction-title {
    font-size: 20px;
    margin-bottom: 10px;
    font-family: $body;
    color: $dark-green;
    border: 1px solid transparent;
    width: 180px;
}

.transactions-table{
    justify-content: center;
    align-items: center;
    border-spacing: 5px;
    width: 100%;

    tr {
      border: 1px solid black;
      border-top: none;
    }
}

th {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
}

td{
  border-right: 1px solid black;
  padding: 10px;
}

th {
  text-align: left;
  font-family: $title;
}

.date-column {
  width: 17%;
}

.description-column {
  width: 31%;
}

.amount-column {
  width: 17%;
}

.budget-column {
  width: 15%;
}

.edit-column {
  width: 20%;
}

input[type=text], input[type=number], input[type=date], select {
  color: $dark-gray;
  padding-left: 10px;
}

.add-transaction > input[type=text] {
    width: 400px;
    padding-left: 10px;
}

.edit-delete-buttons{
    padding: 15px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.edit-delete-buttons > button{
    border: none;
    background: none;
    font-size: 20px;
    color: $dark-gray;
}

.edit-delete-buttons > button:hover{
    cursor: pointer;
}

.transaction-category-buttons {
  .selected {
    font-family: $links;
    font-size: 14px;
    background-color: $dark-green;
    color: white;
    border: 1px solid transparent;
    padding: 8px 8px;
    transition: all 0.4s ease;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 20px;
  }

  button {
    font-family: $links;
    font-size: 14px;
    background-color: $light-green;
    color: $dark-green;
    border: 1px solid $dark-green;
    padding: 8px 8px;
    transition: all 0.4s ease;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 20px;
  }

  button:hover {
    cursor: pointer;
    background-color: $dark-green;
    border: 1px solid transparent;
    color: white;
    transition: all 0.4s ease
  }
}

.transaction-errors {
  font-size: 15px;
  color: rgb(206, 27, 27);
  margin-bottom: 25px;
  
  li {
    margin-bottom: 3px;
  }
}

.update-transaction-errors {
  border: 1px solid black;
  border-top: 1px solid transparent;
  width: 100%;
  font-size: 15px;
  color: rgb(206, 27, 27); 
  padding: 10px;
     
  li {
    margin-bottom: 3px;
  }
}

.no-transactions {
  text-align: center;
  font-style: italic;
  font-size: 18px;

  td {
    height: 35px;
  }
}

.edit-transaction-button{
    width: 180px;
    height: 43px;
    font-family: $links;
    font-size: 15px;
    background: $dark-green;
    color: white;
    border: 1px solid transparent;
    padding: 8px 10px;
    text-align: center;
    transition: all 0.4s ease;
    border-radius: 5px;
}

.edit-transaction-button:hover {
    cursor: pointer;
    background-color: $light-green;
    border: 1px solid $dark-green;
    color: $dark-green;
    transition: all 0.4s ease
}

.edit-transaction-border{
  border: 1px solid black;

  td {
    border: none;
  }
}