.doughnutGraphContainer {
    width: 50vw;
    height: 50vh;
    background-color: transparent;
}


/* @media only screen and (max-width: 600px) {
    .doughnutGraphContainer {
        width: 80vw;
    }
} */