.polarGraphContainer {
    width: 50vw;
    height: 50vh;
    background-color: transparent;
    padding-bottom: 20px;
}

/* @media only screen and (max-width: 600px) {
    .polarGraphContainer {
        width: 80vw;
    }
} */